.html{
    height: 100%;
}
.body{
    margin: 0;
}
.wrapper{
    max-width: 1080px;
    margin: 0 auto;
    display: block;
    position: relative;
    padding: 0px 20px 0px 20px;
    height: 100%;
}
.topMenu {
    background-color: darkgray;
    max-width: 100%;
    height: auto;
}
.topMenu__img {
    display: -webkit-inline-box;
    position: relative;
    padding: 40px 0 30px 0;
    width: 100px;
}
.img {
    height: 50px;
    width: 100px;
    display: -webkit-inline-box;
    position: relative;
}
.topMenu__btn {
    display: -webkit-inline-box;
    padding: 35px 20px 20px 0;
    position: relative;
    word-spacing: 50px;
    max-width: 400px;
    float: right;
}
.menuBTN {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: right;
    display: inline;
    margin-left: 50px;
    padding: 0;
}
/* Photo and Info */ 
.infosection {
    height: auto;
}
.infosection__photo {
    position: relative;
    max-width: 200px;
    display: inline-block;
}
.photo {
    height: 150px;
    width: 150px;
    position: relative;
    display: block;
    padding: 100px 100px 100px 0px;
}
.infosection__text {
    text-align: left;
    float: right;
    padding: 50px 20px 0px 20px;
}
.text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    position: relative;
    max-width: 520px;
    height: auto;
}
/* product */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 70px 160px;
    transition: 0.3s;
    font-size: 17px;
  }
  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #ccc;
  }
  .tabcontent {
    padding: 6px 12px;
    display: none;
  }
/* Product */
.pizzaProductBox{

}
.topsales {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    max-width: 200px;
    margin: 0 auto;
    padding: 30px 0px 50px 0px;
    display: block;
    position: relative;
    text-align: center;
}
.productBox {
    width: 250px;
    display: inline-block;
    position: relative;
    height: auto;
}
.child{
    padding: 0px 10px 0px 10px;
}
.child1{
    padding: 0px 10px 0px 10px;
}
.productPhoto {
    width: 250px;
    height: 250px;
    display: block;
    padding: 0px 0 25px 0;
}
.text__pizza {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    display: block;
    position: relative;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0 20px 0;
}
.btn__buy{
    padding: 10px 35px;
    display: block;
    position: relative;
    margin: auto;
    background-color: #D5D506;
    transform: none;
    border: 0px;
}
.btn__buy:hover {
    border: 2px #D5D506;
    background-color: #ccc;
}
/* Enother */